---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import Themelcon from "./Themelcon.astro";
---

<header>
    <nav>
        <Hamburger />
        <Themelcon />
        <Navigation />
    </nav>
</header>